In [ ]:
num=float(input("enter a number"))
if num>0 :
  print ("positive")
else :
  print("negative")

enter a number3
positive

In [ ]:
x= int(input("enter a number : "))
operation = input ("enter an operation (+,-,*,/)")
y = int(input("enter a number :"))

if operation=="+" :
  print (x+y)
elif operation=="-":
  print(x-y)
elif operation=="*":
  print(x*y)
elif operation=="/" and y!=0:
  print(x/y)
else:
  print(" I do not support this operation !")

enter a number : 9
enter an operation (+,-,*,/)+
enter a number :5
14

ask the user to enter a number.
if the number is between 0 and 1 print the percentage of the number. IN any case print, please enter a number between 0 and 1

In [ ]:
num=float(input("enter a number: "))

if num>=0 and num<=1:
  print("persentage is",num*100,"%")
else:
  print("I cannot do it")

enter a number: 0,2

ValueError: could not convert string to float: '0,2'

In [ ]:
text = "my name is stelios and I live in london"
print(text[2])

In [ ]:
city ="london"
print(city[0:3])

lon

In [ ]:
text = "my name is stelios and I live in London"
print(text[-6:])

London

ask the user to enter a city.
if the user enters a city starting with L capital, print "start with L capital" else print something else

In [ ]:
city= input("enter a city: ")
if city[0]=="L":
  print("starts with L")
else :
  print("asdasdas")

enter a city: nante
asdasdas

In [ ]:
phrase=input("enter a phrase: ")
if phrase[-1]!=".":
  print("you need a dot!")
else :
  print("all good!")

enter a phrase: salut la team
you need a dot!